  <div class="container bodyContainer" id="spSignup">
    <div class="clearfix secondary-nav">
      <ul class="list">
        <li><a routerLink="/login" id="loginLink">Login</a></li>
        <li><a routerLink="/register" id="registerLink">Register</a></li>
      </ul>
    </div>
    <div style="clear:both;"></div>
    <div id="variableHeightContainer" class="variableHeightContainer variableHeightContainer-fit">
      <div class="rightRegisterForm">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="outer-box center-align">
            <div class="box-header">
              <div><p class="no-bottom-margin display-inline" id="joinPracto">Login as&nbsp;</p>
                <mat-radio-group aria-label="Select an option" (change)="onChange($event)" name="gender">
                   <mat-radio-button value="Patient">Patient&nbsp;&nbsp;</mat-radio-button>
                   <mat-radio-button value="Hospital Admin">Hospital Admin</mat-radio-button>
                 </mat-radio-group>
                 
               <div style="clear:both"></div>
          </div>

          </div>
            <div *ngIf="ispatient">
              <div class="padding-bottom-8">Mobile Number</div>
                  <input formControlName="MobileNumber" autofocus class="form-control email-text" id="username" name="username"
                  placeholder="Mobile Number" type="text" value="">
                 <!-- <div class="error" *ngIf="loginForm.controls['MobileNumber'].hasError('required')
                   && loginForm.controls['MobileNumber'].touched">MobileNumber is required
                  </div>-->
            </div>
            <div *ngIf="!ispatient">
              <div *ngIf="!ispatient" class="padding-bottom-8">Hospital Registration Number</div>
                  <input formControlName="HospitalRegistrationNumber" 
                  autofocus class="form-control email-text" id="username" name="username"
                  placeholder="Hospital Registration Number" type="text" value="">
                <!--   <div class="error" *ngIf="loginForm.controls['HospitalRegistrationNumber'].hasError('required')
                   && loginForm.controls['HospitalRegistrationNumber'].touched">HospitalRegistrationNumber is required
                  </div>-->
            </div>
            <div id="passwordContainer">
              <div class="padding-bottom-8 padding-top-20">Password</div>
              <input formControlName="password" class="form-control email-text" id="password" name="password" placeholder="Password"
               type="password" value="">
            </div>
            <!-- <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                Password is required</div>-->

            <div id="forgotPasswordContainer">
              <div class="padding-top-8 font-12">
                      <div class="forget-pasword">
                  <a href="/forgot_password?intent=accounts" id="forgotPassword">Forgot password?</a>
                </div>
                <div style="clear:both"></div>
              </div>
            </div>
                 <div class="padding-top-20" style="margin-top: 20px;">
              <button type="submit" class="btn  btn-lg common-btn practo-btn" id="login">
                Login
              </button>
            </div>
            </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
    <div style="margin-bottom:40px" id="margin-div"></div>
  </div>

  <!--<footer class="practo_GlobalFooter bg-dark-blue">
    <div class="bg-dark-blue footer-block clearfix">
      <div class="g-footer-new clearfix">
        <div class="footer-container">
          <div class="g-footer-column">
            <div class="g-footer-column-head">
              </div>
            </div>
          <div class="g-footer-column">
            <div class="g-footer-column-head">
              <h6>Practo</h6>
            </div>
            <div class="g-footer-column-links responsive-hide">
              <div><a href="https://www.practo.com/company/about" target="_blank" title="About">About</a></div>
              <div><a href="//blog.practo.com" target="_blank" title="blog">Blog</a></div>
              <div><a href="https://www.practo.com/company/careers" target="_blank" title="Careers">Careers</a></div>
              <div><a href="https://www.practo.com/company/press" target="_blank" title="Press">Press</a></div>
              <div><a href="https://www.practo.com/company/contact" target="_blank" title="Contact us">Contact</a>
              </div>
            </div>
          </div>
          <div class="g-footer-column">
            <div class="g-footer-column-head">
              <h6>For patients</h6>
            </div>
            <div class="g-footer-column-links responsive-hide">
              <div><a href="https://www.practo.com/consult/new_question?source=Footer-AskFreeQuestion" target="_blank"
                  title="Ask">Ask free health questions</a></div>
              <div><a href="https://www.practo.com" target="_blank" title="Doctor Search">Search for doctors</a></div>
              <div><a href="https://www.practo.com" target="_blank" title="Clinic Search">Search for clinics</a></div>
              <div><a href="https://www.practo.com/healthfeed" target="_blank" target="_blank"
                  title="Read health articles">Read health articles</a></div>
              <div><a href="https://www.practo.com/medicine-info" target="_blank" title="Read about medicines">Read
                  about medicines</a></div>
              <div><a href="https://www.practo.com/consult?source=Footer-ConsultFeed" target="_blank"
                  title="Consult">Consult a Doctor</a></div>
              <div><a href="https://www.practo.com/order" target="_blank" title="Order Medicines">Order medicines</a>
              </div>
              <div><a href="https://www.practo.com/drive" target="_blank" title="Practo drive">Practo drive</a></div>
              <div><a href="https://www.practo.com/health-app" target="_blank" title="Practo App">Health app</a></div>
            </div>
          </div>
          <div class="g-footer-column">
            <div class="g-footer-column-head">
              <h6>For hospitals</h6>
            </div>
            <div class="g-footer-column-links responsive-hide">
              <div><a href="https://www.practo.com/providers/hospitals/insta" target="_blank"
                  title="Insta by Practo">Insta by Practo</a></div>
              <div><a href="https://www.practo.com/providers/hospitals/qikwell" target="_blank"
                  title="Qikwell by Practo">Qikwell by Practo</a></div>
              <div><a href="https://www.practo.com/providers/hospitals/querent" target="_blank"
                  title="Querent by Practo">Querent by Practo</a></div>
              <div><a href="https://www.practo.com/providers/hospitals/profile" target="_blank"
                  title="Practo Profile">Practo Profile</a></div>
              <div><a href="https://www.practo.com/providers/hospitals/reach" target="_blank"
                  title="Practo Reach">Practo Reach</a></div>
            </div>
          </div>
          <div class="g-footer-column">
            <div class="g-footer-column-head">
              <h6>More</h6>
            </div>
            <div class="g-footer-column-links responsive-hide">
              <div><a href="//help.practo.com" target="_blank" title="Help">Help</a></div>
              <div><a href="//developers.practo.com" target="_blank" title="Developers">Developers</a></div>
              <div><a href="https://www.practo.com/company/privacy" target="_blank" title="Privacy">Privacy Policy</a>
              </div>
              <div><a href="https://www.practo.com/company/terms" target="_blank" title="Terms">Terms & Conditions</a>
              </div>
              <div><a href="https://www.practo.com/company/subscribers" target="_blank"
                  title="Subscribers">Subscribers</a></div>
              <div><a href="https://www.practo.com/sitemap" target="_blank" title="Sitemap">Healthcare directory</a>
              </div>
              <div><a href="https://www.practo.com/health-wiki" target="_blank" title="Practo Health Wiki">Practo Health
                  Wiki</a></div>
            </div>
          </div>
          <div class="g-footer-column">
            <div class="g-footer-column-head">
              <h6>Social</h6>
            </div>
            <div class="g-footer-column-links responsive-hide">
              <div><a href="//www.facebook.com/practo" rel="nofollow" target="_blank"
                  title="Facebook:Connect">Facebook</a></div>
              <div><a href="//twitter.com/Practo" rel="nofollow" target="_blank" title="Twitter:Connect">Twitter</a>
              </div>
              <div><a href="//www.linkedin.com/company/practo-technologies-pvt-ltd" rel="nofollow" target="_blank"
                  title="LinkedIn:Connect">LinkedIn</a></div>
              <div><a href="//www.youtube.com/user/PractoSupport" rel="nofollow" target="_blank"
                  title="Youtube:Connect">YouTube</a></div>
              <div><a href="//github.com/practo" rel="nofollow" target="_blank" title="GitHub:Connect">GitHub</a></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="copy-rights-wrap clearfix">
        <div class="footer-container clearfix">
          <div class="center">
            <i class="practo_GlobalFooter practo-logo"></i>
          </div>
          <div class="center copyright">Copyright &copy; 2020, Practo. All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>-->