<div class="container bodyContainer" id="spSignup">
    <div class="clearfix secondary-nav">
        <ul class="list">
            <li><a href="#" id="loginLink">Login</a></li>
            <li><a href="#" id="registerLink">Register</a></li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <div id="variableHeightContainer" class="variableHeightContainer variableHeightContainer-fit">
       <!--<div class="graphicImage">
<img class="img-responsive" src="/assets/images/medical-concept.jpg" onerror="this.src='/assets/images/medical-concept.jpg'" alt="Practo Accounts">
</div>-->
        <div class="rightRegisterForm">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                <div class="outer-box center-align">
                    <div class="box-header">
                        <div><p class="no-bottom-margin display-inline" id="joinPracto">Register as&nbsp;</p>
                             <mat-radio-group aria-label="Select an option" (change)="onChange($event)" name="gender">
                                <mat-radio-button value="Patient">Patient&nbsp;&nbsp;</mat-radio-button>
                                <mat-radio-button value="Hospital Admin">Hospital Admin</mat-radio-button>
                              </mat-radio-group>
                             
                            <div style="clear:both"></div>
                       </div>

                    </div>
                    <div class="outer-space">
                        <p class="no-bottom-margin">Name</p>
                        <div class="padding-top-8">
                            <input formControlName="Name" autofocus="" class="form-control email-text" id="name" name="name"
                                placeholder="Name" type="text" value="">
                                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                    <div *ngIf="f.Name.errors.required">Name is required</div>
                                </div>
                        </div>
                        <input type="hidden" id="is-patient-signup">
                        <div *ngIf="ispatient" class="padding-top-8">
                            <p class="no-bottom-margin">Mobile Number</p>
                            <div class="padding-top-8">
                                <div class="mobile-number">
                                    <input formControlName="MobileNumber" class="form-control email-text " id="mobile" name="mobile"
                                        placeholder="Mobile Number" type="tel" value="">
                                </div>
                            </div>
                            <div *ngIf="submitted && f.MobileNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.MobileNumber.errors.required">Mobile Number is required</div>
                            </div>
                        </div>
                        <p *ngIf="!ispatient" class="no-bottom-margin">Hospital Registration Number</p>
                        <div *ngIf="!ispatient" class="padding-top-8">
                            <input formControlName="HospitalRegistrationNumber" class="form-control email-text" id="HospitalRegistrationNumber" name="RegistrationNumber"
                                placeholder="Hospital Registration Number" type="text" value="">
                                <div *ngIf="submitted && f.HospitalRegistrationNumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.HospitalRegistrationNumber.errors.required">HospitalRegistrationNumber is required</div>
                                </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="padding-top-8">
                            <p class="no-bottom-margin">Create Password</p>
                            <div class="padding-top-8">
                                <input formControlName="password" class="form-control email-text" id="password" name="password"
                                    placeholder="Password" type="password" value="">
                                <div class="password-strength">
                                    Password Strength: <span id="password-strength-indicator">&nbsp;</span>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                </div>
                            </div>
                        </div>

                        <!--<div>
                            <input id="csrf_token" name="csrf_token" type="hidden"
                                value="ImEwMGIxYzVjMjhjNDQyMjliZmU2NjI4ZmVlMzJmMzkxNjJmOWQzMTUi.Xy00AQ.K34_jzxEuLQVA4AJSMz8Iv3P7rY">
                            <input id="intent" name="intent" type="hidden" value="accounts">
                            <input id="source" name="source" type="hidden" value="">
                            <input id="view_type" name="view_type" type="hidden" value="normal">
                            <input id="type" name="type" type="hidden" value="patient">
                        </div>-->

                        <div>
                            <div class="padding-top-20 font-12 textMuted">
                                <div class="otp-flow">
                                  <!--  <div class="otp_flow">
                                        <input checked="checked" id="subscribe_promotion" name="subscribe_promotion"
                                            type="checkbox" value="y">
                                        <label for="subscribe_promotion"></label>
                                    </div>
                                    <label class="mousePointerSignup font-12 textMuted line-height-20"
                                        for="subscribe_promotion">Receive relevant offers and promotional communication
                                        from Practo</label>-->
                                    <div class="padding-top-8 textMuted font-10 sign-up-terms">
                                        <p class="no-bottom-margin">

                                            By signing up, I agree to <a href="https://www.practo.com/ray/terms"
                                                target="_blank" id="terms">terms</a>

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="padding-top-20">
                                <div id="recaptcha-container-register"
                                    data-sitekey="6LcgVBgUAAAAANU9A74W9CtzZ3NeJdhbGIoUbDXG" data-size="invisible">
                                </div>
                                <button class="btn  btn-lg common-btn practo-btn" id="EmailRegister">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
    <div style="margin-bottom:40px" id="margin-div"></div>
</div>